ESBMediator/src/DataConsumerWSDL.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WebServiceServerService" targetNamespace="http://datawarehouse.laboratory.unitn.it" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://datawarehouse.laboratory.unitn.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://datawarehouse.laboratory.unitn.it" version="1.0" xmlns:tns="http://datawarehouse.laboratory.unitn.it" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="insert" type="tns:insert"/>
<xs:element name="insertResponse" type="tns:insertResponse"/>
<xs:element name="query" type="tns:query"/>
<xs:element name="queryResponse" type="tns:queryResponse"/>
<xs:element name="update" type="tns:update"/>
<xs:element name="updateResponse" type="tns:updateResponse"/>
<xs:complexType name="update">
<xs:sequence>
<xs:element minOccurs="0" name="update_query" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="query">
<xs:sequence>
<xs:element minOccurs="0" name="query" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="queryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="insert">
<xs:sequence>
<xs:element minOccurs="0" name="insert_query" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="insertResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="insert">
    <wsdl:part element="tns:insert" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertResponse">
    <wsdl:part element="tns:insertResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part element="tns:queryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="query">
    <wsdl:part element="tns:query" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceServer">
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input message="tns:query" name="query">
    </wsdl:input>
      <wsdl:output message="tns:queryResponse" name="queryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insert" name="insert">
    </wsdl:input>
      <wsdl:output message="tns:insertResponse" name="insertResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceServerServiceSoapBinding" type="tns:WebServiceServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="query">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insert">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceServerService">
    <wsdl:port binding="tns:WebServiceServerServiceSoapBinding" name="WebServiceServerPort">
      <soap:address location="http://192.168.1.43:8080/DataConsumer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>