trunk/ESBMediator/cxf-bc/DwhWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DwhWS" targetNamespace="http://events.laboratory.unitn.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://events.laboratory.unitn.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://events.laboratory.unitn.it">
			<xsd:element name="SendMappedChanges">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DWH_SCHEMA" type="tns:DwhSchemaType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SendMappedChangesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="DwhSchemaType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="EVENT_TYPE" type="tns:EventType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="D_ASSISTITO" type="tns:AssistitoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="D_OPERATORE" type="tns:OperatoreType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="D_NUCLEO_FAMILIARE" type="tns:NucleoFamiliareType">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="EventType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="EVENT_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="EVENT_DESCR" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OperatoreType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="OPERATORE_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="NOME" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COGNOME" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="POLO_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="POLO_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ENTE_GESTORE_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ENTE_GESTORE_DESCR" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AssistitoType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="ID_ASSISTITO" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ID_ANAGRAFE_LOCALE" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="MITTENTE_NOME_ENTE" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="MITTENTE_URL_ENTE" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ANAG_URL_ENTE" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ANAG_ID_ANAGRAFE" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="ID_ASS_SOC" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="HASH_COD" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="DATA_NASCITA" type="xsd:date"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COMUNE_NASCITA_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COMUNE_NASCITA_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COMUNE_RESIDENZA" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COMUNE_RESIDENZA_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="COMUNE_RESIDENZA_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="SESSO" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="CAP" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="STATO_CIVILE_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="STATO_CIVILE_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="NAZIONALITA_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="NAZIONALITA_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="CITTADINANZA_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="CITTADINANZA_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="POLO_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="POLO_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="GESTORE_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="GESTORE_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="INIZIO_PRESA_CARICO" type="xsd:date"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="DATA_DOMANDA" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="NucleoFamiliareType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="CODICE_NUCLEO" type="xsd:int"/>
					<xsd:element minOccurs="1" maxOccurs="unbounded" name="COMPONENTE" type="tns:ComponenteType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ComponenteType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="HASH_COD" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="GRADO_PARENTELA_COD" type="xsd:int"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="GRADO_PARENTELA_DESCR" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="DATA_NASCITA" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="SendMappedChangesResponse">
    <wsdl:part name="parameters" element="tns:SendMappedChangesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMappedChangesRequest">
    <wsdl:part name="parameters" element="tns:SendMappedChanges">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DwhWS">
    <wsdl:operation name="SendMappedChanges">
      <wsdl:input message="tns:SendMappedChangesRequest">
    </wsdl:input>
      <wsdl:output message="tns:SendMappedChangesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DwhWSSOAP" type="tns:DwhWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendMappedChanges">
      <soap:operation soapAction="http://events.laboratory.unitn.it/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DwhWS">
    <wsdl:port name="DwhWSSOAP" binding="tns:DwhWSSOAP">
      <soap:address location="http://192.168.1.41:9090/DwhWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
